
@{
    ViewBag.Title = "AccountCreated";
}

<div id="cntLogo">
    <img id="imgLogo" src="~/imagenes/logo 79px.png" />
</div>

<div class="title"> ¡Gracias por registrarte! Te hemos enviado un correo para confirmar tu usuario. Por favor @Html.ActionLink("De click aquí para ir a login.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style>
    body {
        background: url(../imagenes/b13.jpg) 0 no-repeat;
    }

    .contText {
    }

        .contText p {
        }
</style>

