@using Microsoft.AspNet.Identity

<div id="loader">
    <div id="load">
        <img alt="roue" src="images/load.gif" />
        <!--div id="cl"> <img alt="lettreC" src="images/clog.png"/></div>-->
    </div>
</div>

<!-- facebook like button -->
<!--<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "../connect.facebook.net/fr_FR/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>-->


<div id="menu">
    <a id="exp"><img src="imagenes/logo 79px.png" /></a>
    <!--<a id="know" href="knowm/knowm.html"><img alt="know more" src="images/know.png"/></a>
    <a id="shop" href="shop/index.html"><img alt="shop section" src="shop/images/shop.png"/></a>-->

</div>



<ul id="nav">

    <div id="nom">
        <li><a id="b1" href="#intro" title="Next Section"><img src="imagenes/flecha 79px.png" alt="Link" /></a></li>
        <li>
            <a id="b19" href="#fond19" title="Next Section"><img src="imagenes/flecha 79px.png" alt="Link" /></a>
        </li>
        <li>
            <a id="b2" href="#traveler" title="Next Section"><img src="imagenes/flecha 79px.png" alt="Link" /></a>
        </li>
        <li><a id="b3" href="#third" title="Next Section"><img src="imagenes/flecha 79px.png" alt="Link" /></a></li>
        <li>
            <a id="b4" href="#hipster" title="Next Section"><img src="imagenes/flecha 79px.png" alt="Link" /></a>
        </li>
        <li><a id="b5" href="#fond4" title="Next Section"><img src="imagenes/flecha 79px.png" alt="Link" /></a></li>
        <li><a id="b6" href="#fond5" title="Next Section"><img src="imagenes/flecha 79px.png" alt="Link" /></a></li>
        <li><a id="b7" href="#fond6" title="Next Section"><img src="imagenes/flecha 79px.png" alt="Link" /></a></li>
        <li><a id="b8" href="#fond7" title="Next Section"><img src="imagenes/flecha 79px.png" alt="Link" /></a></li>
        <li><a id="b9" href="#fond8" title="Next Section"><img src="imagenes/flecha 79px.png" alt="Link" /></a></li>
        <li>
            <a id="b10" href="#fond9" title="Next Section"><img src="imagenes/flecha 79px.png" alt="Link" /></a>
        </li>
        <li>
            <a id="b11" href="#fond10" title="Next Section"><img src="imagenes/flecha 79px.png" alt="Link" /></a>
        </li>
        <li>
            <a id="b12" href="#fond11" title="Next Section"><img src="imagenes/flecha 79px.png" alt="Link" /></a>
        </li>
        <li>
            <a id="b13" href="#fond12" title="Next Section"><img src="imagenes/flecha 79px.png" alt="Link" /></a>
        </li>
        <!--  <li><a id="b14"	href="#fond13" title="Next Section"><img src="images/title14.png" alt="Link" /></a></li>
        <li><a id="b15"	href="#fond14" title="Next Section"><img src="images/title15.png" alt="Link" /></a></li>
        <li><a id="b16"	href="#fond15" title="Next Section"><img src="images/title16.png" alt="Link" /></a></li>
        <li><a id="b17"	href="#fond16" title="Next Section"><img src="images/title17.png" alt="Link" /></a></li>
        <li><a id="b18"	href="#fond17" title="Next Section"><img src="images/title18.png" alt="Link" /></a></li>-->
        <!--<li><a id="b20"	href="footer.html" title="Next Section"><img src="images/title19.png" alt="Link" /></a></li>-->
    </div>

    <li><a id="n1" href="#intro" title="Next Section"><img src="images/button.png" alt="Link" /></a></li>
    <li><a id="n19" href="#fond19" title="Next Section"><img src="images/button.png" alt="Link" /></a></li>
    <li><a id="n2" href="#traveler" title="Next Section"><img src="images/button.png" alt="Link" /></a></li>
    <li><a id="n3" href="#third" title="Next Section"><img src="images/button.png" alt="Link" /></a></li>
    <li><a id="n4" href="#hipster" title="Next Section"><img src="images/button.png" alt="Link" /></a></li>
    <li><a id="n5" href="#fond4" title="Next Section"><img src="images/button.png" alt="Link" /></a></li>
    <li><a id="n6" href="#fond5" title="Next Section"><img src="images/button.png" alt="Link" /></a></li>
    <li><a id="n7" href="#fond6" title="Next Section"><img src="images/button.png" alt="Link" /></a></li>
    <li><a id="n8" href="#fond7" title="Next Section"><img src="images/button.png" alt="Link" /></a></li>
    <li><a id="n9" href="#fond8" title="Next Section"><img src="images/button.png" alt="Link" /></a></li>
    <li><a id="n10" href="#fond9" title="Next Section"><img src="images/button.png" alt="Link" /></a></li>
    <li><a id="n11" href="#fond10" title="Next Section"><img src="images/button.png" alt="Link" /></a></li>
    <li><a id="n12" href="#fond11" title="Next Section"><img src="images/button.png" alt="Link" /></a></li>
    <li><a id="n13" href="#fond12" title="Next Section"><img src="images/button.png" alt="Link" /></a></li>
    <!-- <li><a id="n14" href="#fond13" title="Next Section"><img src="images/button.png" alt="Link" /></a></li>
    <li><a id="n15" href="#fond14" title="Next Section"><img src="images/button.png" alt="Link" /></a></li>
    <li><a id="n16" href="#fond15" title="Next Section"><img src="images/button.png" alt="Link" /></a></li>
    <li><a id="n17" href="#fond16" title="Next Section"><img src="images/button.png" alt="Link" /></a></li>
    <li><a id="n18" href="#fond17" title="Next Section"><img src="images/button.png" alt="Link" /></a></li>-->
    <!-- <li><a id="n20" href="footer.html" title="Next Section"><img src="images/button.png" alt="Link" /></a></li>-->
</ul>

<div id="intro">

    @*<a id="fleche" href="#fond19"><img alt="fleche" src="images/fleche2.png"></a>*@
    <div class="inicio">
        <span  class="float">
            <i class="fa fa-envelope my-float"></i>
        </span>
        <div class="label-container">
            <div class="label-text">
                <p>
                    ¡Hola! Mi nombre es Axolt y me da gusto que me acompañes<br /> en este viaje para cambiar el
                    futuro del planeta <br />¿Estás listo?
                    (Da clic en los botones del menú de la derecha para comenzar)
                </p>
            </div>
            <i class="fa fa-play label-arrow"></i>
        </div>
    </div>
</div>

<div alt="you're a night rider" id="fond19">
    <div class="inicio2">
        <a  class="float2">
            <i class="fa fa-envelope my-float"></i>
        </a>
        <div class="label-container2">
            <div class="label-text2">
                <p>Para empezar quiero presentarte a PetStar, la estrella de este viaje</p>
            </div>
            <i class="fa fa-play label-arrow2"></i>
        </div>
    </div>


</div>


<div alt="you're a traveler" id="traveler">

    <div class="story">
        <!--<div class="bg"></div>-->

        <div class="container">
            <a class="float3">
                <i class="fa fa-envelope my-float"></i>
            </a>
            <div class="label-container3">
                <div class="label-text3">
                    <p>
                        Pero… ¿Por qué la labor de PetStar es tan importante? <br />Sí, por el futuro del planeta.
                        <br />¡Respira hondo que el contexto no es muy amigable!.
                    </p>
                </div>

            </div>

            <div class="row ">
                <img class="tierra" src="imagenes/pasandotierra.gif">
            </div>
            <div class="row contImages">
                <div class="col-md-4 col-xs-12 meahogo">
                    <img class="trigger" src="imagenes/meahogo.png" onclick="toggleModal('#modalTravelerOne')">
                    <a title="PDF" href="documents/Braking the plastic Wave informe completo.pdf" target="_new">
                        <img src="imagenes/verMas.png">
                    </a>

                </div>
                <div class="col-md-4 col-xs-12 meahogo">
                    <img class="trigger" src="imagenes/quecalor.png" onclick="toggleModal('#modalTravelerTwo')">
                    <a title="PDF" href="documents/Informe WWF Planeta vivo.pdf" target="_new">
                        <img src="imagenes/verMas.png">
                    </a>

                </div>
                <div class="col-md-4 col-xs-12 meahogo">
                    <img class="trigger" src="imagenes/unamordida.png" onclick="toggleModal('#modalTravelerThree')">
                    <a title="PDF" href="documents/Earth Overshoot Day - Final.pdf" target="_new">
                        <img src="imagenes/verMas.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div alt="you're a weirdo" id="third">
        <div class="inicio4">
               <a  class="float4">
                 <i class="fa fa-envelope my-float4"></i>
                </a>
                <div class="label-container4">
                    <div class="label-text4">
                        <p>
                    ¿Estás preocupado?
                    Yo también, por eso, PetStar junto a sus accionistas <br /> quieren mostrarte las acciones que
                    se están haciendo globalmente.
                </p>
                     </div>
                 </div>
              <div><img class="play" src="imagenes/playwww.png" onclick="toggleModal('#modalresiduos')"></div>
        </div>
</div>

<div alt="you're a hipster" id="hipster">
    <div class="rowa inicio5">
        <div class="column1 ">

        </div>
        <div class="column">
            <a  class="float5">
                <i class="fa fa-envelope my-float5"></i>
            </a>
            <div class="label-container5">
                <div class="label-text5">
                    <p>
                        Pero ¿Cómo PetStar y sus accionistas están<br /> haciendo posible un #MundoSinResiduos?. Aquí
                        un ejemplo.
                    </p>
                </div>
            </div>
            <div class='tabs'>
                <!-- Flattern structure for adjacent sibling combinator -->
                <!-- Tab 1 & Content -->
                <input type="radio" name="tab" id="tab1" role="tab" checked>
                <label for="tab1" id="tab1-label">Valor del PET</label>
                <section aria-labelledby="tab1-label">
                    <div class="row ">
                        <img class="ciel" src="imagenes/ciel/Imagen 1.jpg">
                    </div>
                </section>

                <!-- Tab 2 & Content -->
                <input type="radio" name="tab" id="tab2" role="tab">
                <label for="tab2" id="tab2-label">PetStar Reborn</label>
                <section aria-labelledby="tab2-label">
                    <div class="row ">
                        <img class="ciel" src="imagenes/ciel/Imagen 2.jpg">
                    </div>
                </section>

                <!-- Tab 3 & Content -->
                <input type="radio" name="tab" id="tab3" role="tab">
                <label for="tab3" id="tab3-label">Mas que reciclaje</label>
                <section aria-labelledby="tab3-label">
                    <div class="row ">
                        <img class="ciel" src="imagenes/ciel/Imagen 3.jpg">
                    </div>
                </section>

                <!-- Tab 4 & Content -->
                <input type="radio" name="tab" id="tab4" role="tab">
                <label for="tab4" id="tab4-label">PET</label>
                <section aria-labelledby="tab4-label">
                    <div class="row ">
                        <img class="ciel" src="imagenes/ciel/Imagen 4.jpg">
                    </div>
                </section>

                <!-- Tab 5 & Content -->
                <input type="radio" name="tab" id="tab5" role="tab">
                <label for="tab5" id="tab5-label">Reciclaje</label>
                <section aria-labelledby="tab5-label">
                    <div class="row ">
                        <img class="ciel" src="imagenes/ciel/Imagen 6.jpg">
                    </div>
                </section>



            </div>

        </div>
    </div>


</div>

<div alt="you're a swagger" id="fond4">
    <div class="story">
        <!--<div class="bg"></div>-->
        <div class="container">
            <div class="row ">
                <img class="tierra" src="imagenes/titulo ODS.jpg">
            </div>
            <!-- Photo Grid -->
            <div class="myGallery">
                <div class="item">
                    <img src="imagenes/ods/ODS.png" />
                    <a href="https://www.un.org/sustainabledevelopment/es/wp-content/uploads/sites/3/2018/08/170Actions-web_Sp.pdf"
                       target="_new"><span class="caption"><img src="imagenes/ods/EMOJIS-ODS.png" /></span></a>
                </div>
                <div class="item">
                    <img src="imagenes/ods/ODS-1.png" />
                    <a href="https://www.un.org/sustainabledevelopment/es/poverty/" target="_new">
                        <span class="caption"><img src="imagenes/ods/EMOJIS-ODS-1.png" /></span>
                    </a>
                </div>
                <div class="item">
                    <img src="imagenes/ods/ODS-2.png" />
                    <a href="https://www.un.org/sustainabledevelopment/es/hunger/" target="_new">
                        <span class="caption"><img src="imagenes/ods/EMOJIS-ODS-2.png" /></span>
                    </a>
                </div>
                <div class="item">
                    <img src="imagenes/ods/ODS-3.png" />
                    <a href="https://www.un.org/sustainabledevelopment/es/health/" target="_new">
                        <span class="caption"><img src="imagenes/ods/EMOJIS-ODS-3.png" /></span>
                    </a>
                </div>
                <div class="item">
                    <img src="imagenes/ods/ODS-4.png" />
                    <a href="https://www.un.org/sustainabledevelopment/es/education/" target="_new">
                        <span class="caption"><img src="imagenes/ods/EMOJIS-ODS-4.png" /></span>
                    </a>

                </div>
                <div class="item">
                    <img src="imagenes/ods/ODS-5.png" />
                    <a href="https://www.un.org/sustainabledevelopment/es/gender-equality/" target="_new">
                        <span class="caption"><img src="imagenes/ods/EMOJIS-ODS-5.png" /></span></span>
                    </a>

                </div>
                <div class="item">
                    <img src="imagenes/ods/ODS-6.png" />
                    <a href="https://www.un.org/sustainabledevelopment/es/water-and-sanitation/" target="_new">
                        <span class="caption"><img src="imagenes/ods/EMOJIS-ODS-6.png" /></span>
                    </a>

                </div>
                <div class="item">
                    <img src="imagenes/ods/ODS-7.png" />
                    <a href="https://www.un.org/sustainabledevelopment/es/energy/" target="_new">
                        <span class="caption"><img src="imagenes/ods/EMOJIS-ODS-7.png" /></span>
                    </a>

                </div>
                <div class="item">
                    <img src="imagenes/ods/ODS-8.png" />
                    <a href="https://www.un.org/sustainabledevelopment/es/economic-growth/" target="_new">
                        <span class="caption"><img src="imagenes/ods/EMOJIS-ODS-8.png" /></span>
                    </a>

                </div>
                <div class="item">
                    <img src="imagenes/ods/ODS-9.png" />
                    <a href="https://www.un.org/sustainabledevelopment/es/infrastructure/" target="_new">
                        <span class="caption"><img src="imagenes/ods/EMOJIS-ODS-9.png" /></span>
                    </a>

                </div>
                <div class="item">
                    <img src="imagenes/ods/ODS-10.png" />
                    <a href="https://www.un.org/sustainabledevelopment/es/inequality/" target="_new">
                        <span class="caption"><img src="imagenes/ods/EMOJIS-ODS-10.png" /></span>
                    </a>

                </div>
                <div class="item">
                    <img src="imagenes/ods/ODS-11.png" />
                    <a href="https://www.un.org/sustainabledevelopment/es/cities/" target="_new">
                        <span class="caption"><img src="imagenes/ods/EMOJIS-ODS-11.png" /></span>
                    </a>

                </div>
                <div class="item">
                    <img src="imagenes/ods/ODS-12.png" />
                    <a href=" https://www.un.org/sustainabledevelopment/es/sustainable-consumption-production/"
                       target="_new"><span class="caption"><img src="imagenes/ods/EMOJIS-ODS-12.png" /></span></a>

                </div>
                <div class="item">
                    <img src="imagenes/ods/ODS-13.png" />
                    <a href="https://www.un.org/sustainabledevelopment/es/climate-change-2/" target="_new">
                        <span class="caption"><img src="imagenes/ods/EMOJIS-ODS-13.png" /></span>
                    </a>

                </div>
                <div class="item">
                    <img src="imagenes/ods/ODS-14.png" />
                    <a href="https://www.un.org/sustainabledevelopment/es/oceans/" target="_new">
                        <span class="caption"><img src="imagenes/ods/EMOJIS-ODS-14.png" /></span>
                    </a>

                </div>
                <div class="item">
                    <img src="imagenes/ods/ODS-15.png" />
                    <a href="https://www.un.org/sustainabledevelopment/es/biodiversity/" target="_new">
                        <span class="caption"><img src="imagenes/ods/EMOJIS-ODS-15.png" /></span>
                    </a>

                </div>
                <div class="item">
                    <img src="imagenes/ods/ODS-16.png" />
                    <a href="https://www.un.org/sustainabledevelopment/es/peace-justice/" target="_new">
                        <span class="caption"><img src="imagenes/ods/EMOJIS-ODS-16.png" /></span>
                    </a>

                </div>
                <div class="item">
                    <img src="imagenes/ods/ODS-17.png" />
                    <a href="https://www.un.org/sustainabledevelopment/es/globalpartnerships/" target="_new">
                        <span class="caption"><img src="imagenes/ods/EMOJIS-ODS-17.png" /></span>
                    </a>

                </div>

                <!--<div class="item"></div>
                      <a title="PDF" href="Braking the plastic Wave informe completo.pdf" target="_new"><img  src="imagenes/verMas.png"></a>
                  </div>-->
            </div>
        </div>

    </div>

</div>

<div alt="you're a vintage guy" id="fond5">
    <div class="inicio7">
        <!--<div class="bg"></div>-->
        <div class="contenedor">
            <a  class="float7">
                <i class="fa fa-envelope my-float7"></i>
            </a>
            <div class="label-container7">
                <div class="label-text7">
                    <p>
                        Hola, soy Botellín y a partir de aquí seré tu guía <br /> durante mi viaje para convertirme
                        en una nueva botella. <br /> Para comenzar da clic en el video para que conozcas lo que
                        verás.
                        <br />
                    </p>
                </div>
            </div>
            <iframe src="https://www.youtube.com/embed/wEvvj-9nxeg" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>

    </div>

</div>
<div alt="you're a grand pa" id="fond6">
    <div class="inicio8">
        <div class="contenedor">
            <a  class="float8">
                <i class="fa fa-envelope my-float8"></i>
            </a>
            <div class="label-container8">
                <div class="label-text8">
                    <p>
                        Ahora sí, empecemos el recorrido del reciclaje con <br />esta historia.<br /> NOTA: Se
                        recomienda tener un pañuelo a la mano para <br />las personas sensibles.


                        <br />
                    </p>
                </div>
            </div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/2BaXGWvDS5A" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>

    </div>
</div>
<div alt="you're a tandem" id="fond7">
    <div class="inicio9">
        <div class="contenedor">
            <a  class="float9">
                <i class="fa fa-envelope my-float9"></i>
            </a>
            <div class="label-container9">
                <div class="label-text9">
                     <p>
                        Camila está a punto de <br />
                        llevarme a un nuevo lugar <br />
                        para comenzar mi proceso de reciclaje <br />
                        ¿Quiénes son los héroes anónimos? <br />
                    </p>
                </div>
            </div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/CmvQhM7U0DE" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>

    </div>
</div>
<div alt="you're a baby doll" id="fond8">
    <div class="inicio10">
        <div class="contenedor">
            <a  class="float10">
                <i class="fa fa-envelope my-float10"></i>
            </a>
            <div class="label-container10">
                <div class="label-text10">
                    <p>
                        ¡No lo puedo creer! He <br />
                        llegado a una torre <br />
                        semejante a la de los Dioses <br />
                        del Olimpo ¡Acompáñame! <br />
                    </p>
                </div>
            </div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/NSwJNs3QkT0" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>

</div>
	</div>
<div alt="you're a cougar" id="fond9">
    <div class="inicio11">
        <div class="contenedor">
            <a  class="float11">
                <i class="fa fa-envelope my-float11"></i>
            </a>
            <div class="label-container11">
                <div class="label-text11">
                     <p>
                        ¿Qué? Me he transformado <br />
                        totalmente, pero en qué me <br />
                        he convertido.. <br />

                    </p>
                </div>
            </div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/OpDCL5TAGKg" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>

</div>
<div alt="you're a freestyler" id="fond10">
    <div class="inicio12">
        <div class="contenedor">
            <a  class="float12">
                <i class="fa fa-envelope my-float12"></i>
            </a>
            <div class="label-container12">
                <div class="label-text12">
                    <p>
                        Me estoy mareando, estoy <br />
                        subiendo y bajando ¿Por qué <br />
                        todo es como una montaña rusa? <br />

                    </p>
                </div>
            </div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/RVizXCnMvmg" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>
</div>
<div alt="you're a gangsta" id="fond11">
    <div class="inicio13">
        <div class="contenedor">
            <a  class="float13">
                <i class="fa fa-envelope my-float13"></i>
            </a>
            <div class="label-container13">
                <div class="label-text13">
                    <p>
                        - ¿Qué? Camila ¿Eres tú? <br />
                        ¿Cómo es que soy una <br />
                        botella nuevamente? <br />

                    </p>
                </div>
            </div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/yrgsu_rYqoM" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>
</div>
<div alt="you're a lil gangsta" id="fond12">
    <div class="inicio14">
        <div class="contenedor">
            <a  class="float14">
                <i class="fa fa-envelope my-float14"></i>
            </a>
            <div class="label-container14">
                <div class="label-text14">
                    <p>
                        Oh no, ya terminó mi recorrido pero… <br />
                        como tú mismo lo viste, no es un adiós <br />
                        sino un hasta pronto porque si reciclas <br />
                        tus botellas serán parte de un ciclo <br />
                        circular infinitamente y volverán a ti <br />
                        nuevamente. <br />
                    </p>
                </div>
            </div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/SBFeGyb55mM" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>
</div>
<div alt="you're a runner" id="fond13">
    <!--<div class="fin"></div>-->
    <div class="row">
         <img class="tierra2" src="imagenes/titutlohacertu.gif">
    </div>
    <div class="rowa inicioExt">
       
        <div class="column2 ">
            
            <div class='tabs2'>
                <!-- Flattern structure for adjacent sibling combinator -->
                <!-- Tab 1 & Content -->
                <input type="radio" name="tab2" id="tab11" role="tab2" checked>
                <label for="tab11" id="tab11-label">Calcula tu Huella</label>
                <section aria-labelledby="tab11-label">
                    <div class="row ">

                        <a href="http://grapesoft-001-site4.ctempurl.com/" target="_new">
                            <img class="ciel2"
                                 src="imagenes/n1.jpg">
                        </a>
                    </div>
                </section>

                <!-- Tab 2 & Content -->
                <input type="radio" name="tab2" id="tab12" role="tab2">
                <label for="tab12" id="tab12-label">Compromiso individual</label>
                <section aria-labelledby="tab12-label">
                    <div class="row ">

                        <a href="https://www.un.org/en/actnow/" target="_new">
                            <img class="ciel2"
                                 src="imagenes/n2.jpg">
                        </a>
                    </div>
                </section>

                <!-- Tab 3 & Content -->
                <input type="radio" name="tab2" id="tab13" role="tab2">
                <label for="tab13" id="tab13-label">Compromiso participativo</label>
                <section aria-labelledby="tab13-label">
                    <div class="row ">

                        <a href="https://cartadelatierra.org/" target="_new">
                            <img class="ciel2"
                                 src="imagenes/n3.jpg">
                        </a>
                    </div>
                </section>

                <!-- Tab 4 & Content -->
                <input type="radio" name="tab2" id="tab14" role="tab2">
                <label for="tab14" id="tab14-label">Compromiso social</label>
                <section aria-labelledby="tab14-label">
                    <div class="row ">

                        <a href=" https://www.decalogosustentable.org/decalogo/cual-es-tu-sueno/#:~:text=En%20Fundaci%C3%B3n%20Tl%C3%A1loc%20so%C3%B1amos%20en,manera%20informada%20y%20propositiva%20en"
                           target="_new"><img class="ciel2" src="imagenes/n4.jpg"></a>
                    </div>
                </section>

                <!-- Tab 5 & Content -->
                <input type="radio" name="tab2" id="tab15" role="tab2">
                <label for="tab15" id="tab15-label">Compromiso educativo</label>
                <section aria-labelledby="tab15-label">
                    <div class="row ">

                        <a href="https://www.ecoce.mx/educa_verde/" target="_new">
                            <img class="ciel2"
                                 src="imagenes/n5.jpg">
                        </a>
                        <!--<iframe class="youtube-video" width="560px" height="500px" src="https://www.ecoce.mx/educa_verde/" frameborder="0" allowfullscreen></iframe>-->

                    </div>
                </section>
            </div>
        </div>
        <div class="column3">

        </div>



    </div>
</div>
	</div>
<div alt="you're a rigid guy" id="fond14">
    <div class="fin">
        <div class="dudas">
            <img src="imagenes/dudas.png" onclick="toggleModal('#modaldudas')">
        </div>
        <div class="encuesta">
            <img src="imagenes/encuesta.png" onclick="toggleModal('#modalencuesta')">
        </div>
        <div class="contFinalizar">
            <div class="finalizar">
                <a href="javascript:SendMailFinalizar();"><img src="imagenes/botonFINALIZAR.png"></a>
            </div>
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                  
                }
            }


        </div>
    </div>
</div>
<!--     <div alt="you're a warrior" id="fond15">
        <div class="story"><div class="bg"></div>

       </div>
       </div>
       <div alt="you're a lazy guy" id="fond16">
        <div class="story"><div class="bg"></div>

       </div>
       </div>
       <div alt="you're a fake" id="fond17">
        <div class="story"><div class="bg"></div>

       </div>
       </div>



<footer>
<div id="fond18">
    <img alt="did you enjoy" src="images/fin1.png"/>
    <hr/>
    <a href="shop/index.html"><img alt="shop link" src="images/fin2.png"/></a>
    <hr/>
    <a href="knowm/knowm.html"><img alt="know more link" src="images/fin3.png"/></a>
</div>
<div class="story">
    <p>© Petstar — Derechos reservados</p>
</div></footer>-->



<div class="modal" id="modalTravelerOne">
    <div class="modal-content">
        <span class="close-button" onclick="toggleModalOff('#modalTravelerOne')"></span>

        <iframe id="frmTravelerOne" class="youtube-video" width="560px" height="500px" src="" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

    </div>
</div>

<div class="modal" id="modalTravelerTwo">
    <div class="modal-content">
        <span class="close-button" onclick="toggleModalOff('#modalTravelerTwo')"></span>

        <iframe id="frmTravelerTwo" class="youtube-video" width="560px" height="500px" src=""
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

    </div>
</div>

<div class="modal" id="modalTravelerThree">
    <div class="modal-content">
        <span class="close-button" onclick="toggleModalOff('#modalTravelerThree')"></span>

        <iframe id="frmTravelerThree" class="youtube-video" width="560px" height="500px" src=""
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>


    </div>
</div>

<div class="modal" id="modalresiduos">
    <div class="modal-content">
        <span class="close-button" onclick="toggleModalOff('#modalresiduos')"></span>

        <iframe id="frmResiduos" class="youtube-video" width="560px" height="500px" src=""
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>


    </div>
</div>

<div class="modal" id="modalencuesta">
    <div class="modal-content">
        <span class="close-button" onclick="toggleModalOff('#modalencuesta')"></span>
        <iframe class="youtube-video" width="560px" height="500px"
                src="https://www.questionpro.com/a/TakeSurvey?tt=mliwCab9FvE%3D" frameborder="0"
                allowfullscreen></iframe>


    </div>
</div>


<div class="modal" id="modaldudas">
    <div class="modal-content">
        <span class="close-button" onclick="toggleModalOff('#modaldudas')"></span>
        <div id="lol" style="width: 900px;">
            <div class="accordion">
                <label for="t1" class="accordionitem">
                    <h5>¿Dónde puedo entregar mis envases de PET? <span class="arrow">»</span></h5>
                </label>
                <input type="checkbox" id="t1" />
                <p class="hiddentext">
                    Primero que nada, te recomiendo separar tus residuos en orgánicos, inorgánicos
                    y reciclables. En el caso de los envases de PET siempre has los 4 pasos
                    (Vacía-Aplasta-Cierra-Deposita) y ponlos en otro contenedor. Una vez separados, hay que
                    entregarlos a los servicios de limpia autorizados o bien identificar cerca de su domicilio algún
                    punto de acopio de reciclables. En nuestras plantas de acopio no contamos con puntos de compra.
                </p>
            </div>

            <div class="accordion">
                <label for="t2" class="accordionitem">
                    <h5>¿Tienen algún programa de acopio para escuelas? <span class="arrow">»</span></h5>
                </label>
                <input type="checkbox" id="t2" />
                <p class="hiddentext">
                    En PetStar no contamos con programas de acopio en escuelas debido a que
                    nuestro modelo de acopio está enfocado a generar movilidad social para recuperadores y
                    recolectores de residuos. Si eres una escuela, te recomendamos inscribirte en un programa de
                    acopio permanente de residuos, un ejemplo de estos programas es los liderados por ECOCE. Más
                    info: www.ecoce.mx
                </p>
            </div>

            <div class="accordion">
                <label for="t3" class="accordionitem">
                    <h5>¿Cómo puedo agendar una visita a sus instalaciones? <span class="arrow">»</span></h5>
                </label>
                <input type="checkbox" id="t3" />
                <p class="hiddentext">
                    Únicamente contamos con visitas guiadas al Museo Auditorio de PetStar ubicado
                    en Toluca, México; en caso de estar interesado en una visita presencial a nuestras
                    instalaciones, favor de enviar un correo a comunicacion@petstar.mx donde te enviaran las fechas
                    y horarios disponibles.
                </p>
            </div>
            <div class="accordion">
                <label for="t4" class="accordionitem">
                    <h5>
                        ¿Reciclan todo tipo de botellas y de todas las marcas? <span class="arrow">»</span>
                    </h5>
                </label>
                <input type="checkbox" id="t4" />
                <p class="hiddentext">
                    En PetStar reciclamos solamente botellas de PET y sus componentes (tapas y
                    etiquetas) y sí reciclamos el 100% de las botellas de PET de todas las marcas que hay en el
                    mercado para producir resina reciclada grado alimenticio que será utilizada por nuestros
                    accionistas parte de la Industria Mexicana de Coca-Cola.
                </p>
            </div>

            <div class="accordion">
                <label for="t5" class="accordionitem">
                    <h5>
                        Estoy interesado en que me compren tapas de botellas de PET, ¿las puedo llevar a su planta?
                        <span class="arrow">»</span>
                    </h5>
                </label>
                <input type="checkbox" id="t5" />
                <p class="hiddentext">
                    En PetStar promovemos la correcta disposición de los envases PET, por lo cual
                    nuestro esquema de acopio se basa en la recolección y reciclaje de la botella con etiqueta y
                    tapa; la tecnología que utilizamos no nos permite incorporar solo tapas.
                </p>
            </div>

            <div class="accordion">
                <label for="t6" class="accordionitem">
                    <h5>¿Quiénes son los accionistas de su empresa? <span class="arrow">»</span></h5>
                </label>
                <input type="checkbox" id="t6" />
                <p class="hiddentext">
                    Nuestra empresa es parte de la Industria Mexicana de Coca-Cola liderada por
                    Arca Continental, Coca-Cola de México, Bepensa Bebidas, Corporación del Fuerte, Corporación
                    RICA, Grupo Embotellador Nayar, Embotelladora de Colima. Estamos alineados a la campaña global
                    de Coca-Cola, Un Mundo Sin Residuos, que busca recolectar el 100% de los empaques e incorporar
                    hasta 50% contenido reciclado al 2030.
                </p>
            </div>
            <div class="accordion">
                <label for="t7" class="accordionitem">
                    <h5>
                        ¿Cuántas botellas se necesitan para hacer otra botella nueva? <span class="arrow">»</span>
                    </h5>
                </label>
                <input type="checkbox" id="t7" />
                <p class="hiddentext">Se necesita una botella para crear una botella nueva del mismo gramaje.</p>
            </div>

            <div class="accordion">
                <label for="t8" class="accordionitem">
                    <h5>
                        ¿Cuánta agua se usa en el proceso de hacer una nueva botella de otra botella? <span class="arrow">»</span>
                    </h5>
                </label>
                <input type="checkbox" id="t8" />
                <p class="hiddentext">
                    En PetStar contamos con tecnología de punta que nos permite utilizar
                    aproximadamente 1 litro de agua para procesar el equivalente a 55 botellas de PET que es un uso
                    muy eficiente de agua; misma que pasa por un proceso de tratamiento de agua para poder
                    disponerla de acuerdo con normativa vigente. Estamos trabajando para que el proceso de reciclaje
                    de PetStar sea cero huella hídrica.
                </p>
            </div>

            <div class="accordion">
                <label for="t9" class="accordionitem">
                    <h5>
                        ¿Qué tipo de tecnología se utiliza para no generar emisiones de CO2 a la atmósfera en el
                        proceso de reciclaje? <span class="arrow">»</span>
                    </h5>
                </label>
                <input type="checkbox" id="t9" />
                <p class="hiddentext">
                    Los procesos de reciclado de PET utilizan menos energía que el proceso de
                    producción de resina virgen, por lo que el reciclaje es un proceso muy sustentable; la resina
                    reciclada de PetStar tiene un 93% menos de emisiones a la atmosfera VS la resina virgen, además
                    de que el 63% de energía proviene de fuentes renovables como energía eólica y cogeneración.
                    Estamos trabajando para que nuestro proceso sea cero huella de carbono.
                </p>
            </div>
            <div class="accordion">
                <label for="t10" class="accordionitem">
                    <h5>
                        ¿Cómo puedo saber más de su proceso de acopio y reciclaje? <span class="arrow">»</span>
                    </h5>
                </label>
                <input type="checkbox" id="t10" />
                <p class="hiddentext">
                    Si ya viviste la Experiencia PetStar, y todavía tienes dudas, escríbenos un
                    correo a comunicacion@petstar.mx donde responderemos tus inquietudes.
                </p>
            </div>
        </div>

    </div>
</div>

<!--  <script>
       $("#share").hover(function() {
  $("#content").toggle('slide');
  $("#share a").animate({opacity:'1'}, 1);
});
    $("#share").mouseleave(function() {
    $("#share a").animate({opacity:'0.7'}, 1);

    });
    $("#fond19 p").hover(function() {
  $("#fond19 p").animate({opacity:'0.6'}, "fast");
});
    $("#fond19 p").mouseout(function() {
    $("#fond19 p").animate({opacity:'1'}, 100);

    });
$(function () {
    var element = $("#cl");
    (function(){
        element

            .animate({ opacity:'0.4'},"slow")
            .animate({ opacity:'0.8'},"slow",arguments.callee)

    }());
});

       </script>-->


<script type="text/javascript">
    $(window).load(function () {
        $('body, html').scrollTop(0);
        $("#loader").fadeToggle({ display: "none" }, "slow");
    });

    $(document).ready(function () {


        //outerHeight (true/false) - Whether or not jQuery should use it's outerHeight option to determine when a section is in the viewport
        $('#traveler').parallax("50%", 0.5);
        //$('.bg').parallax("50%", "50%", 0.5, true);
        $('#third').parallax("50%", 0.5);
        $('#hipster').parallax("50%", 0.5);
        $('#fond4').parallax("50%", 0.5);
        $('#fond5').parallax("50%", 0.5);
        $('#fond6').parallax("50%", 0.5);
        $('#fond7').parallax("50%", 0.5);
        $('#fond8').parallax("50%", 0.5);
        $('#fond9').parallax("50%", 0.5);
        $('#fond10').parallax("50%", 0.5);
        $('#fond11').parallax("50%", 0.5);
        $('#fond12').parallax("50%", 0.5);
        $('#fond13').parallax("50%", 0.5);
        $('#fond14').parallax("50%", 0.5);
        $('#fond15').parallax("50%", 0.5);
        $('#fond16').parallax("50%", 0.5);
        $('#fond17').parallax("50%", 0.5);
        $('#fond19').parallax("50%", 0.5);


        $(window).scroll(function () {
            $(".modal").removeClass("show-modal");
        });


        $('#intro #fleche,#nav li a,#exp,#traveler a').click(function () {

            $(".modal").removeClass("show-modal");


            var el = $(this).attr('href');
            var elWrapped = $(el);
            scrollToDiv(elWrapped, 40);
            return false;
        });

        function scrollToDiv(element, navheight) {
            var offset = element.offset();
            var offsetTop = offset.top;
            var totalScroll = offsetTop - $("header").outerHeight() + "px";

            $('body,html').animate({ scrollTop: totalScroll }, 700);

        }

        $("#n1").css({ opacity: '1' }, 1);

        $("#n1").hover(function () {
            $("#b1").fadeToggle(0.5);
        });
        $("#n2").hover(function () {
            $("#b2").fadeToggle(0.5);
        });
        $("#n3").hover(function () {
            $("#b3").fadeToggle(0.5);
        });
        $("#n4").hover(function () {
            $("#b4").fadeToggle(0.5);
        });
        $("#n5").hover(function () {
            $("#b5").fadeToggle(0.5);
        });
        $("#n6").hover(function () {
            $("#b6").fadeToggle(0.5);
        });
        $("#n7").hover(function () {
            $("#b7").fadeToggle(0.5);
        });
        $("#n8").hover(function () {
            $("#b8").fadeToggle(0.5);
        });
        $("#n9").hover(function () {
            $("#b9").fadeToggle(0.5);
        });
        $("#n10").hover(function () {
            $("#b10").fadeToggle(0.5);
        });
        $("#n11").hover(function () {
            $("#b11").fadeToggle(0.5);
        });
        $("#n12").hover(function () {
            $("#b12").fadeToggle(0.5);
        });
        $("#n13").hover(function () {
            $("#b13").fadeToggle(0.5);
        });
        $("#n14").hover(function () {
            $("#b14").fadeToggle(0.5);
        });
        $("#n15").hover(function () {
            $("#b15").fadeToggle(0.5);
        });
        $("#n16").hover(function () {
            $("#b16").fadeToggle(0.5);
        });
        $("#n17").hover(function () {
            $("#b17").fadeToggle(0.5);
        });
        $("#n18").hover(function () {
            $("#b18").fadeToggle(0.5);
        });
        $("#n19").hover(function () {
            $("#b19").fadeToggle(0.5);
        });
        $("#n20").hover(function () {
            $("#b20").fadeToggle(0.5);
        });

        $("#share").hover(function () {
            $("#content").slideToggle(100)
            $("#share span").animate({ opacity: '1' }, 1);

        });

        $("#share").mouseleave(function () {
            $("#share span").animate({ opacity: '0.4' }, 1);
        });



    });


</script>

<script>
    //var modal = document.querySelector(".modal");
    //var trigger = document.querySelector(".trigger");
    //var closeButton = document.querySelector(".close-button");
    function SendMailFinalizar()
    {
        $("#loader").fadeIn();

        $.get("/Home/SendMail", function (data, status) {
            sessionStorage.removeItem('accessToken'); $('#logoutForm').submit();
        });
        
    }

    function toggleModal(id) {
        var modal = document.querySelector(id);
        modal.classList.toggle("show-modal");
        $(id).modal('show');

        if (id == "#modalTravelerOne") {
            $(id).find("iframe").attr("src", "imagenes/Me ahogo FINAL.mp4");
        }
        else if (id == "#modalTravelerTwo") {
            $(id).find("iframe").attr("src", "imagenes/QueCalorHaceFinal.mp4");
        }
        else if (id == "#modalTravelerThree") {
            $(id).find("iframe").attr("src", "imagenes/UnaMordidaMas.mp4");
        }
        else if (id == "#modalresiduos") {
            $(id).find("iframe").attr("src", "https://www.youtube.com/embed/zUlLouqfWiA");
        }
    }

    function toggleModalOff(id) {
        var modal = document.querySelector(id);
        modal.classList.toggle("show-modal");
        $(id).modal('hide');
        //$('.youtube-video')[0].contentWindow.postMessage('{"event":"command","func":"' + 'stopVideo' + '","args":""}', '*');

        $('.youtube-video').each(function () {
            this.contentWindow.postMessage('{"event":"command","func":"stopVideo","args":""}', '*')
        });

        if (id == "#modalTravelerOne") {
            $(id).find("iframe").attr("src", "");
        }
        else if (id == "#modalTravelerTwo") {
            $(id).find("iframe").attr("src", "");
        }
        else if (id == "#modalTravelerThree") {
            $(id).find("iframe").attr("src", "");
        }
        else if (id == "#modalresiduos") {
            $(id).find("iframe").attr("src", "");
        }
    }


    function windowOnClick(event) {
        if (event.target === modal) {

            toggleModal();
        }
    }


    //$("#code").on('shown', function () {
    //    alert("I want this to appear after the modal has opened!");
    //});

    //$("#code").on('shown', function () {
    //    alert("I want this to appear after the modal has opened!");
    //});

        //trigger.addEventListener("click", toggleModal);
    /*closeButton.addEventListener("click", toggleModal);*/
    /*window.addEventListener("click", windowOnClick);*/
</script>

