@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}

<div id="cntLogo">
    <img id="imgLogo" src="~/imagenes/logo 79px.png" />
</div>

<h1 class="text-danger">Error</h1>

<div class="title text-danger"> Un error ha ocurrido cuando se procesaba su petición.</div>

<style>
    body {
        background: url(../imagenes/b13.jpg) 0 no-repeat;
    }
    .text-danger {
        text-align: center;
    }
</style>
